<!Doctype html>
<html>
<head><meta charset="utf-8"><title><%= data.title %></title></head>
<body>
  <h2><%= data.title %> の詳細情報</h2>
  <ul>
    <li>タイトル: <%= data.title %></li>
    <li>監督: <%= data.director %></li>
    <li>公開年: <%= data.year %> 年</li>
    <li>評価: <%= data.rating %></li>
  </ul>
  <a href="/movies/edit/<%= id %>">内容を修正する</a> | <a href="/movies">一覧に戻る</a>
</body>
</html>